<template>
    <div class="co-pang-info">
        <div class="photo"><img :src="photopath" :alt="titleName"/></div>
        <div class="title">이름 : {{titleName}}</div>
        <div class="wown">가격 : {{ WownName }}원</div>
        <div class="ParcelService">{{ ParcelServiceName }}</div>
        <div><nuxt-link :to="'/vp/products/' + id ">자세히보기</nuxt-link></div>
    </div>
</template>

<script>
    import * as string_decoder from "string_decoder";

    export default {
        props: {
            id: {
                type: Number,
                required: true
            },
            photopath: {
                type: String,
                required: true,
                default: 'aa'
            },
            titleName: {
                type: String,
                required: true
            },
            WownName: {
                type: Number,
                required: true
            },
            ParcelServiceName: {
                type: String,
                required: true
            }
        }
    }
</script>
