<template>
    <div>
        <div class="ror-ch-mu">
            <div><img :src="rorPoto" :alt="rorName"></div>
            <div>영웅 이름 {{ rorName }}</div>
            <div>영웅 버전 {{ rorMake }}</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            rorPoto: {
            type: String,
            required: true
            },
            rorName: {
                type: String,
                required: true
            },
            rorMake: {
                type: String,
                required: true
            },
        }
    }
</script>
