<template>
    <section>
        <div class="bn1"><img src="/images/C1-PC1.jpg" alt="배너템플릿"></div>
        <card-copang-info
            v-for="(item, index) in copang"
            v-bind:ket="index"
            v-bind:id="item.id"
            v-bind:parcel-service-name="item.parcelServiceName"
            v-bind:wown-name="item.price"
            v-bind:title-name="item.titleName"
            v-bind:photopath="item.photoName"
        />

    </section>
</template>

<script>
export default {
    data() {
        return {
            copang: [

                {
                    photoName: '/images/cp1.jpg',
                    titleName: "한우 앞다리살",
                    price: 25000,
                    parcelServiceName: "내일 도착 보장",
                    id: 3
                },
                {
                    photoName: '/images/cp2.jpg',
                    titleName: "하루 야채",
                    price: 22000,
                    parcelServiceName: "내일 도착 보장",
                    id: 4
                },
                {
                    photoName: '/images/cp3.jpg',
                    titleName: "크리스마스트리",
                    price: 15000,
                    parcelServiceName: "내일 도착 보장",
                    id: 5
                },
                {
                    photoName: '/images/cp4.jpg',
                    titleName: "양반 현비밥",
                    price: 12000,
                    parcelServiceName: "내일 도착 보장",
                    id: 6
                },
                {
                    photoName: '/images/cp5.jpg',
                    titleName: "바리스타",
                    price: 20000,
                    parcelServiceName: "내일 도착 보장",
                    id: 7
                },
            ]
        }
    }
}
</script>

