<template>
    <section>
        <ror-ch-info
            v-for="(item, index) in ror"
            v-bind:key="index"
            v-bind:ror-make="item.rorMake"
            v-bind:ror-name="item.rorName"
            v-bind:ror-poto="item.rorPoto"
        />
    </section>
</template>

<script>
export default {
    data() {
        return {
            ror: [
                {
                    rorPoto: '/images/ror1.jpg',
                    rorName: '영웅',
                    rorMake: '천사'
                },
                {
                    rorPoto: '/images/ror2.jpg',
                    rorName: '영웅',
                    rorMake: '천사'
                },
                {
                    rorPoto: '/images/ror3.jpeg',
                    rorName: '영웅',
                    rorMake: '천사'
                },
            ]
        }
    }

}
</script>
